// Imports
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype'),
         url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

// Mixins
@mixin rbbBackground() {
    padding: 0;
    margin: 0;
    background-color: #5c6a80;
}

html, body {    
    @include rbbBackground();
}

.contenedor {
    width: 1920px;
    height: 1080px;
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;

    .ondas {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url('../img/ondas.png');
        width: 1430px;
        height: 1080px;
    }

    .fecha {
        color: white;
        display: block;
        font-size: 40px;
        float: right;
        margin-right: 142px;
    }

    .logo-rbb {
        position: absolute;
        top: 114px;
        left: 143px;
        width: 281px;
        height: 122px;
        background-image: url('../img/logo_radiobiobio.png');
        background-repeat: no-repeat;
    }

    .hora {
        display: block;
        float: right;
        text-align: right;
        color: white;
        font-size: 85px;
        margin-top: 59px;
        margin-right: 142px;
    }

    .programa {
        display: block;
        float: right;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 90px;
        margin-right: 147px;
        margin-top: 100px;
        width: 100%;
        text-align: right;
    }

    .en-vivo {
        display: block;
        float: right;
        text-transform: uppercase;
        color: white;
        font-size: 35px;
        width: 100%;
        margin-right: 660px;
        margin-top: 10px;
        text-align: right;
    }

    .oval {
        background-image: url(../img/oval.png);
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: 1778px 12px;
    }

    .linea {
        position: absolute;
        right: 0;
        top: 256px;
        height: 1px;
        width: 630px;
        background-color: white;
    }

    .col-50-a {
        width: 50%;
        height: 30%;
        position: relative;
        float: left;
        display: block;
    }

    .col-100-a {
        width: 100%;
        height: 25%;
        position: relative;
        float: left;
        display: block;
    }

    .info-radio {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1920px;
        height: 175px;
        background-image: linear-gradient(rgba(12, 27, 109, 0.623), rgba(0, 2, 14, 0.61));
        z-index: 10;
        border-top: 1px solid rgba(255,255,255, .3);

        .play {
            background-image: url('../img/btn_play.png');
            width: 100px;
            height: 100px;
            float: left;
            margin-left: 140px;
            margin-top: 38px;
        }

        .time {
            color: white;
            font-size: 4rem;
            border: 2px solid rgba(255, 255, 255, .3);
            border-radius: 50px;
            float: left;
            margin-top: 40px;
            margin-left: 40px;
            padding: 3px 4rem;
            background-image: linear-gradient(transparent, rgba(255, 255, 255, .1));
        }
    }

    .bg-music {
        width: 240px;
        height: 240px;
        float: left;
        background-image: url('../img/img_rbb.png');
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-left: 140px;
    }

    .info-music {
        float: left;
        margin-top: 30px;
        color: white;
        margin-left: 50px;

        .cancion {
            font-size: 3.5rem;
            font-weight: bold;
            margin-top: 40px;
        }

        .artista {
            font-size: 3rem;
            font-weight: 100;
            margin-top: 10px;
        }
    }

    .data-frecuencia {
        float: right;
        color: white;
        font-size: 2.5rem;
        text-align: right;
        margin-top: 35px;
        margin-right: 140px;

        .ciudad {
            font-weight: bold;
        }
    }
}